@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App {
  text-align: center;
}

.App-header {
 position: relative;
 background-image: url('../public/bg-cafe.jpg');
 width: 100%;
 height: 244px;
 z-index: 0; 
}

.App-section {
  position: absolute;
  z-index: 1;
  width: 80%;
  height: auto;
  top: 5%;
  left: 10%;
  background-color: #1B1D1F;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding-top: 3%;
  padding-bottom: 2%;
}

.App-title {
  position: relative;
  width: 100%;
  height: 150px;
}

.App-title-image {
  position: absolute;
  z-index: 0;
  bottom: 22%;
  max-width: 100%;
  height: auto;
}

.App-title-text {
  position: relative;
  color: #FEF7EE;
  font-family: "DM Sans", sans-serif;
  display: block;
  margin-top: 10px;
  font-size: 2rem;
  z-index: 1;
}


.App-description-text {
  position: relative;
  color: #6F757C;
  font-family: "DM Sans", sans-serif;
  font-size: 0.875rem;
  display: block;
  padding: 0 30%;
}

.App-menu {
  position: relative;
  width: 100%;
  height: 54px;
}

.App-menu-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.App-menu-product,.App-menu-available {
  color: #FEF7EE;
  font-family: "DM Sans", sans-serif;
  font-size: 0.875rem;
}

.App-product-list {
  position: relative;
  width: 100%;
  height: auto;
}

.App-product-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


@media (max-width: 768px) {
  .App-section {
    width: 95%; 
  }

  .App-title {
    height: 120px; 
  }

  .App-title-image {
    width: 43%;
    bottom: 10%; 
  }

  .App-description-text {
    padding: 0 15%; 
    bottom: 20%;
  }

  .App-menu-item {
    gap: 20px; 
    top: 80%;
  }
  .App-product-list {
    margin-top: 10%;
  }
}


@media (max-width: 480px) {
  .App-section {
    width: 100%; 
  }

  .App-title {
    height: 100px; 
  }

  .App-title-image {
    width: 43%;
    bottom: 10%; 
  }

  .App-description-text {
    padding: 0 10%;
  }

  .App-menu-item {
    gap: 10px; 
  }
}